<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="assets/app.scss">
  <script src="assets/app.js"></script>
  <title>Saasler UI Dev Portal</title>
</head>
<body>
  <%= yield %>
</body>
</html>
